# =========================
# ROS / Colcon
# =========================
build/
install/
log/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Generated graph / viz files
# =========================
frames_*.gv


# =========================
# Mapping / SLAM data
# =========================
*.data
*.posegraph

# =========================
# Python
# =========================
__pycache__/
*.pyc

# =========================
# CMake
# =========================
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# =========================
# Logs & temp
# =========================
*.log
*.tmp
*.swp

# =========================
# OS junk
# =======
